@import url(./fonts.css);

* {
    font-family: "Inter";

}

#cart-main-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#dimon {
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;

}

#dimon h2{
    font-weight: 300;
}

#dimonchik{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 300;
}

#kotik{
    width: 35%;
}

#cart-button{
    width: max-content;
    padding: 2.5%;
    border-radius: 4px;
    color: black;
    background-color: var(--black-a10);
    font-size: 14px;
    font-weight: 500;
    transition: 0.2s;
}

#cart-button:hover{
    background-color: var(--black-a15);
}

.footer-top {
    margin-top: 3%;
    display: flex;
    width: 100%;
    font-size: 15px;
    font-weight: 600;
    padding-top: 1%;
    justify-content: center;
    gap: 2.1%;
}

#footer-div {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 15%;
}

#footer-div a {
    color: var(--black-a35);
}

#footer-div4-top {
    padding: 5%;
    display: flex;
    gap: 5%;
    border: 1px solid var(--black-a20);
    border-radius: 15px;
}

#footer-icon {
    width: 13%;
}

#footer-div4-bottom {
    display: flex;
    gap: 5%;
}

#blyat {
    font-size: 110%;
}

#ya-xz {
    display: flex;
    flex-direction: column;
    font-size: 72%;
    gap: 10px;
}

.footer-bottom {
    display: flex;
    margin-top: 2%;
    border-top: 1px solid var(--black-a15);
    padding: 15px;
    font-size: 13.5px;
    gap: 20px;
    color: var(--black-a55);
    align-items: center;
    justify-content: center;
}

.footer-bottom a {
    color: var(--black-a55);
}

.footer-bottom a:hover {
    color: var(--black-a75);
}

#link-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--violet-55);
    border-radius: 10px;
    width: 100%;
    cursor: pointer;

}

#link-button:hover {
    background-color: var(--violet-60);
}

#link-buttonE {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--black-a10);
    border-radius: 10px;
    width: 100%;
    cursor: pointer;
    height: 50px;
    margin-top: 3%;

}

#link-buttonE:hover {
    background-color: var(--black-a30);
}

#sign-linkE {
    color: var(--black-a85);
}

@keyframes favoritePop {
    0% {
        transform: scale(1) rotate(0);
    }

    40% {
        transform: scale(1.3);
    }

    70% {
        transform: scale(0.95);
    }

    100% {
        transform: scale(1) rotate(0);
    }
}

#arrow {
    width: 100%;
}

.dropdownMain {
    width: min-content;
    position: relative;
    font-family: Arial, sans-serif;

}


.dropdown-btnMain {
    width: min-content;
    border-radius: 12px;
    border: none;
    background: #f2f3f5;
    display: flex;
    cursor: pointer;
    font-size: 16px;
}


.dropdown-listMain {
    display: none;
    position: absolute;
    width: min-content;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    max-height: 200px;
    overflow-y: auto;
    padding: 8px 5px;
    color: var(--black-a85);
}

.dropdown-listMain li {
    padding: 10px 16px;
    cursor: pointer;
}

.dropdown-listMain li:hover {
    border-radius: 5px;
    background: #f0f0f0;
}

.dropdownMain.active .dropdown-listMain {
    display: block;
}