@import url(./fonts.css);

* {
    font-family: "Inter";

}


#dimon {
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;

}

#dimon h2 {
    font-weight: 300;
}

#dimonchik {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 300;
}

#kotik {
    width: 35%;
}

#cart-button {
    width: max-content;
    padding: 2.5%;
    border-radius: 4px;
    color: black;
    background-color: var(--black-a10);
    font-size: 14px;
    font-weight: 500;
    transition: 0.2s;
}

#cart-button:hover {
    background-color: var(--black-a15);
}

.footer-top {
    margin-top: 150px;
    display: flex;
    width: 100%;
    font-size: 15px;
    font-weight: 600;
    padding-top: 1%;
    justify-content: center;
    gap: 2.1%;
}

#footer-div {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 15%;
}

#footer-div a {
    color: var(--black-a35);
}

#footer-div4-top {
    padding: 5%;
    display: flex;
    gap: 5%;
    border: 1px solid var(--black-a20);
    border-radius: 15px;
}

#footer-icon {
    width: 13%;
}

#footer-div4-bottom {
    display: flex;
    gap: 5%;
}

#blyat {
    font-size: 110%;
}

#ya-xz {
    display: flex;
    flex-direction: column;
    font-size: 72%;
    gap: 10px;
}

.footer-bottom {
    display: flex;
    margin-top: 2%;
    border-top: 1px solid var(--black-a15);
    padding: 15px;
    font-size: 13.5px;
    gap: 20px;
    color: var(--black-a55);
    align-items: center;
    justify-content: center;
}

.footer-bottom a {
    color: var(--black-a55);
}

.footer-bottom a:hover {
    color: var(--black-a75);
}

#link-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--violet-55);
    border-radius: 10px;
    width: 100%;
    cursor: pointer;

}

#link-button:hover {
    background-color: var(--violet-60);
}

#link-buttonE {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--black-a10);
    border-radius: 10px;
    width: 100%;
    cursor: pointer;
    height: 50px;
    margin-top: 3%;

}

#link-buttonE:hover {
    background-color: var(--black-a30);
}

#sign-linkE {
    color: var(--black-a85);
}

@keyframes favoritePop {
    0% {
        transform: scale(1) rotate(0);
    }

    40% {
        transform: scale(1.3);
    }

    70% {
        transform: scale(0.95);
    }

    100% {
        transform: scale(1) rotate(0);
    }
}

#arrow {
    width: 100%;
}

.dropdownMain {
    width: min-content;
    position: relative;
    font-family: Arial, sans-serif;

}


.dropdown-btnMain {
    width: min-content;
    border-radius: 12px;
    border: none;
    background: #f2f3f5;
    display: flex;
    cursor: pointer;
    font-size: 16px;
}


.dropdown-listMain {
    display: none;
    position: absolute;
    width: min-content;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    max-height: 200px;
    overflow-y: auto;
    padding: 8px 5px;
    color: var(--black-a85);
}

.dropdown-listMain li {
    padding: 10px 16px;
    cursor: pointer;
}

.dropdown-listMain li:hover {
    border-radius: 5px;
    background: #f0f0f0;
}

.dropdownMain.active .dropdown-listMain {
    display: block;
}


#cart-main-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

#cartContent {
    display: flex;
    width: 67%;
    gap: 1%;
    margin-top: 1%;
    position: relative;

}

#shop-img {
    width: 7%;
    height: 70%;
}

#question {
    width: 8%;
    height: 80%;
}

#cart-Content-Left {
    border: 1px solid var(--black-a15);
    display: flex;
    width: 69%;
    padding: 1.5%;
    height: min-content;
    border-radius: 10px;
    flex-direction: column;
    gap: 15px;
}



#cart-Content-Right {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 30%;
    gap: 5%;
    right: 0px;
}

#prosto-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3px;
    color: var(--gray-30);

}

#prosto-div span strong {
    font-size: 17px;
    font-weight: 600;
    color: var(--gray-20);
}

#cart-Content-Right-top1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 7%;
}

#cart-Content-Right-top {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--black-a5);
    border-radius: 10px;
    height: 100px;
    font-size: 13px;
    padding: 3%;
    gap: 10px;
    cursor: pointer;
}

#cart-Content-Right-bottom {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--black-a5);
    border-radius: 10px;
    height: 80%;
    font-size: 14px;
    padding: 3%;
    gap: 20px;
    margin-top: 5%;
}

#cart-Content-Right-bottom1 {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#cart-list-top {
    display: flex;
    justify-content: space-between;
}

#cart-list-bottom {
    display: flex;
    justify-content: space-between;
}

#cart-list-item4 {
    font-size: 17px;
    font-weight: 600;
    color: var(--violet-55);
}

#cart-Content-Right-bottom h3 {
    font-weight: 500;
    font-size: 17px;
    margin-top: 10px;
}

#cart-Content-Right-top3 {
    display: flex;
    width: 100%;
    justify-content: space-between;
    color: var(--gray-40);
    margin-bottom: 10%;
}

#lines {
    display: flex;
    gap: 5px;
}


.line1 {
    display: flex;
    width: 100%;
    height: 4px;
    border-radius: 10px;
    background-color: var(--gray-93);
}

.line2 {
    display: flex;
    width: 100%;
    height: 4px;
    border-radius: 10px;
    background-color: var(--gray-93);
}

.line3 {
    display: flex;
    width: 100%;
    height: 4px;
    border-radius: 10px;
    background-color: var(--gray-93);
}

#checkbox-Container {
    display: flex;
    width: 100%;
    gap: 1%;
}


#title-text {
    display: flex;
    width: 67%;
    margin-top: 2%;
}


#Buy-button {
    display: flex;
    padding: 1%;
    align-items: center;
    justify-content: center;
    background-color: var(--violet-55);
    border-radius: 15px;
    border: none;
    height: 50px;
    width: 100%;
    font-weight: 550;
    cursor: pointer;
    margin-top: 20px;
    transition: 0.2s;
    color: white;
    font-size: 17px;
}

#Buy-button:hover {
    background-color: var(--violet-60);
}

#yoursCart {
    font-weight: 500;
    color: rgb(31, 31, 31);
}

#uga-buga {
    color: var(--black-a35);
    font-weight: 600;
    font-size: 23px;
}

#cart-item {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-top: 1px solid var(--gray-95);
    gap: 10px;
}

#cart-item h3 {
    color: var(--gray-55);
    font-size: 12px;
    font-weight: 500;
    margin-top: 3%;
}

#cart-item h2 {
    font-size: 20px;
    font-weight: 600;
}

#cart-item-itema {
    display: flex;
    width: 100%;
    gap: 10px;
}

.item-img {
    width: 15%;
    height: 15%;
}

#item-block {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;

}

#chtoto {
    display: flex;
    align-items: center;
    gap: 5px;
}

.item-title {
    max-width: 70%;
}

#item-block-top {
    display: flex;
    justify-content: space-between;
}

#item-block-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.reviews-block {
    display: flex;
    gap: 2%;
    width: 100%;
}

.star {
    margin-bottom: 1.5%;
    width: 8%;
}

#prices {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#console {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    border: 1px solid var(--gray-85);
    width: 15%;
    border-radius: 5px; 
}

.plus{
    cursor: pointer;
    font-size: 30px;
    color: var(--gray-50);
    margin-bottom: 1%;
}

.minus{
    cursor: pointer;
    font-size: 30px;
    color: var(--gray-50);
}

#rating {
    color: var(--gray-55);
}

.item-price-card {
    font-size: 22px;
    margin-top: 10px;
    font-weight: 700;
    color: var(--violet-55);
}

.item-price-withoutcard {
    font-size: 14px;
    margin-top: 10px;
    font-weight: 500;
    color: var(--gray-45);
}

#delete {
    background-color: white;
    border: none;
    color: var(--gray-70);
    font-size: 15px;
    font-weight: 600;
    transition: 0.2s;
    cursor: pointer;
}

#delete:hover {
    color: var(--gray-40);
    transform: scale(1.04);
}

#info {
    display: flex;
    flex-direction: column;
    width: 35%;
}

.colors strong {
    font-weight: 500;
    color: var(--gray-60);
}


