@import url(./fonts.css);

* {
  font-family: "Inter";

}

#recomended-section-item {
  height: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #ffffff;
  border-radius: 10px;
  cursor: pointer;
  overflow-y: hidden;
  overflow-x: hidden;
  transition: 0.4s;
  position: relative;
  margin-top: 4%;
}

.image-wrapper {
  position: relative;
  overflow: hidden;
}

.image-wrapper item-img {
  transition: transform 0.3s ease;
  z-index: 1;
  position: relative;
}

.item-img {
  width: 100%;
  border-radius: 5px;
  transition: 0.4s;
}

#recomended-section-item:hover {
  box-shadow: 0px 0px 10px 10px var(--gray-99);

  .item-img {
    transform: scale(1.03);
  }
}

#sp {
  margin-top: 3%;
}

#moijelania {
  margin-left: 16.7%;
  margin-top: 10px;
  font-weight: 500;
  color: rgb(31, 31, 31);
}

#dimon {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5%;
  gap: 10px;
}

#recomended-favorite {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 10%;
}

.dropdown-btnMain {
  width: min-content;
  border-radius: 12px;
  border: none;
  background: #f2f3f5;
  display: flex;
  cursor: pointer;
  font-size: 16px;
}


.dropdown-listMain {
  display: none;
  position: absolute;
  width: min-content;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  max-height: 200px;
  overflow-y: auto;
  padding: 8px 5px;
  color: var(--black-a85);
}

.dropdown-listMain li {
  padding: 10px 16px;
  cursor: pointer;
}

.dropdown-listMain li:hover {
  border-radius: 5px;
  background: #f0f0f0;
}

.dropdownMain.active .dropdown-listMain {
  display: block;
}


#recomended-section-favorite {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  width: 67%;
  align-items: center;
  justify-content: center;
  border-top: 1px solid var(--black-a15);
  gap: 2%;
  margin-bottom: 10%;
}

.item-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background-color: var(--violet-55);
  height: 9%;
  gap: 1%;
  transition: 0.4s;

}

.item-button:hover {
  background-color: var(--violet-60);
}

.item-button span {
  color: white;
  font-weight: 500;
}

.item-button img {
  width: 10%;
}

.item-favorite-img {
  position: absolute;
  width: 10%;
  top: 2%;
  right: 3%;
  z-index: 10;
}

.item-price-card {
  color: var(--violet-55);
  font-weight: 500;
}

.item-price-withoutcard {
  font-size: 85%;
  color: var(--gray-50);
  font-weight: 500;
}

.installment-plan {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--uzum-yellow-bb01);
  border-radius: 5px;
  height: 5%;
  font-size: 75%;
  width: max-content;
  padding: 2%;
}

.item-title {
  font-size: 75%;
}

.reviews-block {
  display: flex;
  align-items: center;
  font-size: 75%;
  gap: 1%;
}

.star {
  width: 6%;
  height: 70%;
}

.item-amount-reviews {
  color: var(--gray-40);
}

.footer-top {
  margin-top: 3%;
  display: flex;
  width: 100%;
  font-size: 15px;
  font-weight: 600;
  padding-top: 1%;
  justify-content: center;
  gap: 2.1%;
}

#footer-div {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 15%;
}

#footer-div a {
  color: var(--black-a35);
}

#footer-div4-top {
  padding: 5%;
  display: flex;
  gap: 5%;
  border: 1px solid var(--black-a20);
  border-radius: 15px;
}

#footer-icon {
  width: 13%;
}

#footer-div4-bottom {
  display: flex;
  gap: 5%;
}

#blyat {
  font-size: 110%;
}

#ya-xz {
  display: flex;
  flex-direction: column;
  font-size: 72%;
  gap: 10px;
}

.footer-bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2%;
  border-top: 1px solid var(--black-a15);
  padding: 15px;
  font-size: 13.5px;
  gap: 20px;
  color: var(--black-a55);
}

.footer-bottom a {
  color: var(--black-a55);
}

.footer-bottom a:hover {
  color: var(--black-a75);
}

#link-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--violet-55);
  border-radius: 10px;
  width: 100%;
  cursor: pointer;

}

#link-button:hover {
  background-color: var(--violet-60);
}

#link-buttonE {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--black-a10);
  border-radius: 10px;
  width: 100%;
  cursor: pointer;
  height: 50px;
  margin-top: 3%;

}


#link-buttonE:hover {
  background-color: var(--black-a30);
}

#sign-linkE {
  color: var(--black-a85);
}

#more-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 50px;
  border-radius: 10px;
  background-color: var(--black-a10);
  font-weight: 500;
  cursor: pointer;
  transition: 0.2s;
  margin-top: 40px;
}

#more-button:hover {
  background-color: var(--black-a20);
}

#more-button2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 50px;
  border-radius: 10px;
  background-color: var(--black-a10);
  font-weight: 500;
  cursor: pointer;
  transition: 0.2s;
  margin-top: 40px;
}

#more-button2:hover {
  background-color: var(--black-a20);
}

#more-button3 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 50px;
  border-radius: 10px;
  background-color: var(--black-a10);
  font-weight: 500;
  cursor: pointer;
  transition: 0.2s;
  margin-top: 40px;
}

#more-button3:hover {
  background-color: var(--black-a20);
}

#more-button4 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 50px;
  border-radius: 10px;
  background-color: var(--black-a10);
  font-weight: 500;
  cursor: pointer;
  transition: 0.2s;
  margin-top: 40px;
}

#more-button4:hover {
  background-color: var(--black-a20);
}

.item-favorite-img {
  cursor: pointer;
  transition: transform 0.25s ease;
}

.item-favorite-img.animate {
  animation: favoritePop 0.35s ease;
}


@keyframes favoritePop {
  0% {
    transform: scale(1) rotate(0);
  }

  40% {
    transform: scale(1.3);
  }

  70% {
    transform: scale(0.95);
  }

  100% {
    transform: scale(1) rotate(0);
  }
}


@media (max-width: 1200px) {
  #recomended-section {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 900px) {
  #recomended-section {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 600px) {
  #recomended-section {
    grid-template-columns: repeat(2, 1fr);
  }
}

.item-button span{
  pointer-events: none;
}

.item-button img{
  pointer-events: none;
}

.colors{
  font-size: 1px;
  color: white;
}