@import url(./fonts.css);

*{
    font-family: "Inter";

}

.swiper {

  width: 1280px;
  height: 430px;
  cursor: pointer;
  border-radius: 10px;
  margin-top: 20px;



  --swiper-pagination-color: rgba(204, 204, 204, 0.829);
  --swiper-pagination-left: auto;
  --swiper-pagination-right: 5px;
  --swiper-pagination-bottom: 8px;
  --swiper-pagination-top: auto;
  --swiper-pagination-fraction-color: inherit;
  --swiper-pagination-progressbar-bg-color: #ffffff;
  --swiper-pagination-progressbar-size: 4px;
  --swiper-pagination-bullet-size: 6px;
  --swiper-pagination-bullet-width: 6px;
  --swiper-pagination-bullet-height: 6px;
  --swiper-pagination-bullet-inactive-color: #ffffff;
  --swiper-pagination-bullet-inactive-opacity: 0.2;
  --swiper-pagination-bullet-opacity: 1;
  --swiper-pagination-bullet-horizontal-gap: 2px;
  --swiper-pagination-bullet-vertical-gap: 6px;


  --swiper-navigation-color: rgb(255, 255, 255);
  --swiper-navigation-size: 25px;
  --swiper-navigation-top-offset: 50%;
  --swiper-navigation-sides-offset: 12px;

}

#under-swiper{
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1280px;
  gap: 15px;
  margin-top: 20px;
}

#under-swiper-section{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--gray-95);
  border-radius: 15px;
  height: 60px;
  cursor: pointer;
  gap: 15px;
  font-size: 10px;
  transition: 0.4s;
}

#under-swiper-section:hover{
  background-color: var(--gray-90);
  
}

#im{
  width: 10%;
}

#aaaa{
  color: var(--black-a95);
  font-size: 15px;
  font-weight: 500;
}

#aaaaa{
  color: var(--black-a95);
}

#recomended{
  display: flex;
  flex-direction: column;
  width: 1280px;
  gap: 30px;
  margin-top: 50px;
}

#recomended-section{
  display: flex;
  list-style: none;
  justify-content: space-between;
  gap: 20px;

}

#recomended-section-item{
  height: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #ffffff;
  border-radius: 10px;
  cursor: pointer;
  overflow-y: hidden;
  overflow-x: hidden;
  transition: 0.4s;
  position: relative;
  
}

#item-img{
  
  width: 100%;
  border-radius: 5px;
  transition: 0.4s;
  
}

#recomended-section-item:hover{
  box-shadow:  0px 0px 10px 10px var(--gray-99);
  
  #item-img{
    transform: scale(1.03);
  }
}

#item-button{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background-color: var(--violet-55);
  height: 9%;
  gap: 1%;
  transition: 0.4s;

}

#item-button:hover{
  background-color: var(--violet-60);
  
}

#item-button-text{
  color: white;
  font-weight: 500;
}

#item-button-img{
  width: 8%;
}

.item-favorite-img{
  position: absolute;
  width: 10%;
  top: 2%;
  right: 3%;
}

.item-price-card{
  color: var(--violet-55);
  font-weight: 500;
}

.item-price-withoutcard{
  font-size: 85%;
  color: var(--gray-50);
  font-weight: 500;
}

.installment-plan{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--uzum-yellow-bb01);
  border-radius: 5px;
  height: 5%;
  font-size: 75%;
  width: max-content;
  padding: 2%;
}

.item-title{
  font-size: 75%;
}

.reviews-block{
  display: flex;
  align-items: center;
  font-size: 75%;
  gap: 1%;
}

.star{
  width: 6%;
  height: 70%;
}

.item-amount-reviews{
  color: var(--gray-40);
}