@import url(./fonts.css);

*{
    font-family: "Inter";

}

.swiper {

  width: 1280px;
  height: 430px;
  cursor: pointer;
  border-radius: 10px;
  margin-top: 20px;



  --swiper-pagination-color: rgba(204, 204, 204, 0.829);
  --swiper-pagination-left: auto;
  --swiper-pagination-right: 5px;
  --swiper-pagination-bottom: 8px;
  --swiper-pagination-top: auto;
  --swiper-pagination-fraction-color: inherit;
  --swiper-pagination-progressbar-bg-color: #ffffff;
  --swiper-pagination-progressbar-size: 4px;
  --swiper-pagination-bullet-size: 6px;
  --swiper-pagination-bullet-width: 6px;
  --swiper-pagination-bullet-height: 6px;
  --swiper-pagination-bullet-inactive-color: #ffffff;
  --swiper-pagination-bullet-inactive-opacity: 0.2;
  --swiper-pagination-bullet-opacity: 1;
  --swiper-pagination-bullet-horizontal-gap: 2px;
  --swiper-pagination-bullet-vertical-gap: 6px;


  --swiper-navigation-color: rgb(255, 255, 255);
  --swiper-navigation-size: 25px;
  --swiper-navigation-top-offset: 50%;
  --swiper-navigation-sides-offset: 12px;

}

#under-swiper{
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1280px;
  gap: 15px;
  margin-top: 20px;
}

#under-swiper-section{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--gray-95);
  border-radius: 15px;
  height: 60px;
  cursor: pointer;
  gap: 15px;
  font-size: 10px;
}

#under-swiper-section:hover{
  background-color: var(--gray-90);
  transition-duration: 0.4s;
}

#im{
  width: 10%;
}

#aaaa{
  color: var(--black-a95);
  font-size: 15px;
  font-weight: 500;
}

#aaaaa{
  color: var(--black-a95);
}

#recomended{
  display: flex;
  flex-direction: column;
  width: 1280px;
  gap: 30px;
  margin-top: 50px;
}

#recomended-section{
  display: flex;
  list-style: none;
  justify-content: space-between;
  gap: 20px;
}

#recomended-section-item{
  height: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: black;
  border-radius: 15px;
  cursor: pointer;
}

#item-img{
  width: 100%;
  border-radius: 10px;
}

#recomended-section-item:hover{
  #item-img{
    size: 200px;
  }

}