@import url(./fonts.css);

*{
    font-family: "Inter";

}

.swiper {

  width: 1280px;
  height: 430px;
  cursor: pointer;
  border-radius: 10px;
  margin-top: 20px;



  --swiper-pagination-color: rgba(204, 204, 204, 0.829);
  --swiper-pagination-left: auto;
  --swiper-pagination-right: 5px;
  --swiper-pagination-bottom: 8px;
  --swiper-pagination-top: auto;
  --swiper-pagination-fraction-color: inherit;
  --swiper-pagination-progressbar-bg-color: #ffffff;
  --swiper-pagination-progressbar-size: 4px;
  --swiper-pagination-bullet-size: 6px;
  --swiper-pagination-bullet-width: 6px;
  --swiper-pagination-bullet-height: 6px;
  --swiper-pagination-bullet-inactive-color: #ffffff;
  --swiper-pagination-bullet-inactive-opacity: 0.2;
  --swiper-pagination-bullet-opacity: 1;
  --swiper-pagination-bullet-horizontal-gap: 2px;
  --swiper-pagination-bullet-vertical-gap: 6px;


  --swiper-navigation-color: rgb(255, 255, 255);
  --swiper-navigation-size: 25px;
  --swiper-navigation-top-offset: 50%;
  --swiper-navigation-sides-offset: 12px;

}




