@import url(./fonts.css);

*{
    font-family: "Inter";

}

#sales-content{
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#sign{
    width: 10%;
}