@import url(./fonts.css);

*{
    font-family: "Inter";

}

#sales-content{
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#sign{
    width: 10%;
}

#sign-link{
    color: rgb(255, 255, 255);
    font-weight: 500;
}

#link-button{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--violet-55);
    border-radius: 10px;
    height: 50px;
    width: 20%;
    cursor: pointer;
    margin-top: 20px;
    transition: 0.2s;
}

#link-button:hover{
    background-color: var(--violet-60);
}