@import url(./fonts.css);

*{
    font-family: "Inter";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#main{
    display: flex;
}

#left {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 1%;
}

#right {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--black-a20);
    margin-top: 3%;
    width: 75%;

}

#right-title {
    margin-top: 3%;
    margin-left: 3%;
    font-weight: 600;
}

#right-span {
    margin-top: 1%;
    margin-left: 3%;
}

#main {
    display: flex;
    justify-content: space-between;
    width: 66.7%;
}

#left-link {
    margin-top: 10%;
    color: var(--black-a55);
}

#left-link2 {
    color: var( --black-a95);
}

#left-link:hover {
    color: var(--black-a95);
}

#map {
    margin-top: 1%;
    height: 500px;
    width: 100%;
}

#section-left {
    display: flex;
    flex-direction: column;
    width: 60%;
}

#section-lefty{
    display: flex;
    width: 200%;
    gap: 5px;
}

#dvoinoy-div {
    display: flex;
    margin-left: 3%;

}

#city {
    margin-top: 3%;
    margin-bottom: 2%;
    font-size: 15px;
    font-weight: 600;
}

.dropdown {
    width: 98%;
    position: relative;
    font-family: Arial, sans-serif;
}


.dropdown-btn {
    width: 100%;
    padding: 12px;
    border-radius: 12px;
    border: none;
    background: #f2f3f5;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    font-size: 16px;
}

.dropdown-btn:hover {
    background-color: #e6e6e6;
}

#vakansii-text{
    margin-top: 3%;
    margin-left: 3%;
    margin-bottom: 3%;
}

#vakansii-text a{
    text-decoration: underline;
    color: var(--black-a45);
}

#vakansii-text a:hover{
    color: var(--black-a85);
}

.dropdown-list {
    display: none;
    position: absolute;
    top: 110%;
    width: 100%;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    max-height: 200px;
    overflow-y: auto;
    padding: 8px 5px;
    color: var(--black-a85);
}

.dropdown-list li {
    padding: 10px 16px;
    cursor: pointer;
}

.dropdown-list li:hover {
    border-radius: 5px;
    background: #f0f0f0;
}

.dropdown.active .dropdown-list {
    display: block;
}

.footer-top{
    margin-top: 3%;
    display: flex;
    width: 100%;
    border-top: 1px solid var(--black-a20);
    font-size: 15px;
    font-weight: 600;
    padding-top: 1%;
    justify-content: center;
    gap: 2.1% ;
}

#footer-div{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 15%;
}

#footer-div a{
    color: var(--black-a35);
}

#footer-div4-top{
    padding: 5%;
    display: flex;
    gap: 5%;
    border: 1px solid var(--black-a20);
    border-radius: 15px;
}

#footer-icon{
    width: 13%;
}

#footer-div4-bottom{
    display: flex;
    gap: 5%;
}

#blyat{
    font-size: 110%;
}

#ya-xz{
    display: flex;
    flex-direction: column;
    font-size: 72%;
    gap: 10px;
}

.footer-bottom{
    display: flex;
    margin-top: 2%;
    border-top: 1px solid var(--black-a15);
    padding: 15px;
    font-size: 13.5px;
    gap: 20px;
    color: var(--black-a55);
}

.footer-bottom a{
    color: var(--black-a55);
}

.footer-bottom a:hover{
    color: var(--black-a75);
}

#link-button{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--violet-55);
    border-radius: 10px;
    width: 40%;
    cursor: pointer;

}

#link-button:hover{
    background-color: var(--violet-60);
}

#link-buttonE{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--black-a10);
    border-radius: 10px;
    width: 30%;
    cursor: pointer;
    height: 50px;
    margin-top: 2.1%;

}

#link-buttonE:hover{
    background-color: var(--black-a30);
}

#sign-linkE{
    color: var(--black-a85);
}